/* Default styles for all screen sizes */

#navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;    
    margin-right: 20px;
    padding-top: 20px;
}

#navbar button {
    margin: 10px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    border-radius: 8px;
}

#navbar #primaryBtn {
    color: white;
    background-color: black;
    border: 1px solid black;
}

/* Media query for smaller screens, such as mobile devices */
@media screen and (max-width: 768px) {
    #navbar {
        justify-content: flex-end;
        margin-right: 0;
        padding-top: 5px;
    }

    #navbar button {
        margin: 3px;
        width: 85px;
        height: 25px;
        font-size: 12px;
    }
}
