.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.factSection {
    margin-top: -50px;
    margin-left: 15%;
    margin-right: 15%;
}

.factTitle {
    font-size: 45px;
    font-weight: bold;
}

.factContent {
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.iconsRow {
    font-size: 35px;
    margin-top: 50px;
    margin-right: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.commentsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
}

.iconsContainer {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}