/* Default styles for all screen sizes */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: left;
    width: 800px;
    height: 400px;
    overflow-y: auto;
}

.buttons button {
    border: none;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    padding: 8px 8px;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    outline: none;
}

.buttons button:focus {
    border: 1px solid #000;
}

.buttons {
    margin-top: 20px;
    gap: 20px;
    text-align: center;
}

/* Media query for smaller screens, such as mobile devices */
@media screen and (max-width: 768px) {
    .content {
        width: 95%;
        max-width: 95%;
        padding: 15px;
        margin-top: 15px;
    }

    .buttons button {
        margin-right: 3px;
    }

    .buttons {
        margin-top: 10px;
        gap: 3px;
    }
}
