/* Default styles for all screen sizes */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: left;
    width: 800px;
    height: 400px;
    overflow-y: auto;
}

.buttons button {
    margin-right: 10px;
}

.buttons {
    margin-top: 20px;
    gap: 10px;
    text-align: center;
}

/* Media query for smaller screens, such as mobile devices */
@media screen and (max-width: 768px) {
    .content {
        width: 95%;
        max-width: 95%;
        padding: 15px;
        margin-top: 15px;
    }

    .buttons button {
        margin-right: 3px;
    }

    .buttons {
        margin-top: 10px;
        gap: 3px;
    }
}
