/* Default styles for all screen sizes */

.flexContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: end;
}

.container h1 {
    text-align: center;
    font-size: 60px;
}

.container label {
    font-size: 30px;
    margin-right: 50px;
}

.container input {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
}

.centerContainer {
    text-align: center;
}

.container a {
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
}

.container button {
    margin-top: 40px;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.inputContainer {
    margin-bottom: 40px;
}

.errMsg {
    text-align: center;
    margin: 20px;
    font-size: 25px;
    border: 1px solid red;
    padding: 20px;
    color: white;
    background-color: red;
    border-radius: 8px;
}

/* Media query for smaller screens, such as mobile devices */
@media screen and (max-width: 768px) {
    .container {
        text-align: start;
    }

    .container h1 {
        font-size: 32px;
    }

    .container label {
        font-size: 20px;
        margin-right: 10px;
    }

    .container input {
        width: calc(100% - 20px);
        max-width: 280px;
        font-size: 14px;
    }

    .container a {
        font-size: 12px;
    }

    .container button {
        margin-top: 15px;
        width: 100px;
        height: 32px;
        font-size: 12px;
    }

    .errMsg {
        font-size: 16px;
        padding: 10px;
    }
}
